################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs/C#/FileContentIndex/f4ac35dd-0f89-4658-899b-fe2bc5d79d2d.vsidx
/C#/.vs/C#/FileContentIndex
